@media screen and (min-width:798px) {
    .nav-item {
        display: none;
    }
}

#navbar {
    border-radius: o;
    border: 0;
}

.text {
    color: white;
}

.dropdown-menu {
    position: relative;
    color: white;
    background-color: rgb(53, 52, 52);
}

h1 {
    margin-top: 30px;
}

#section {
    margin-top: 40px;
    background-color: rgb(53, 52, 52);
    padding: 5px;
}

#chicken {
    height: auto;
    margin-top: 20px;
    background-color: lightgray;
    padding: 10px;
}

#beef {
    height: auto;
    margin-top: 20px;
    background-color: lightgray;
    padding: 10px;
}

#sushi {
    height: auto;
    margin-top: 20px;
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 20px;
}